<div class="navbar-default sidebar" role="navigation">
  <div class="sidebar-nav navbar-collapse">
    <ul class="nav" id="side-menu">
      <li <% if (sidebar == 'dashboard') { %> class="active" <% } %>>
        <a href="/">
          <i class="fa fa-dashboard fa-fw"></i>
          Dashboard
        </a>
      </li>
      <li>
        <a href="#"><i class="fa fa-list-ul fa-fw"></i> Master<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
          <li <% if (sidebar == 'bendahara') { %> class="active" <% } %>>
            <a href="/bendahara">
              <i class="fa fa-table fa-fw"></i>
              Data Bendahara
            </a>
          </li>
          <li <% if (sidebar == 'siswa') { %> class="active" <% } %>>
            <a href="/siswa">
              <i class="fa fa-table fa-fw"></i>
              Data Siswa
            </a>
          </li>
          <li <% if (sidebar == 'perkiraan') { %> class="active" <% } %>>
            <a href="/perkiraan"><i class="fa fa-table fa-fw"></i>
              Data Perkiraan</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#"><i class="fa fa-list-ul fa-fw"></i> Transaksi<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
          <li <% if (sidebar == 'pembayaran') { %> class="active" <% } %>>
            <a href="/transaksi">
              <i class="fa fa-table fa-fw"></i>
              Transaksi Pembayaran
            </a>
          </li>
          <li <% if (sidebar == 'tunggakan') { %> class="active" <% } %>>
            <a href="/tunggakan">
              <i class="fa fa-table fa-fw"></i>
              Tunggakan
            </a>
          </li>
          <li <% if (sidebar == 'jurnal') { %> class="active" <% } %>>
            <a href="/jurnal"><i class="fa fa-table fa-fw"></i>
              Jurnal
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#"><i class="fa fa-list-ul fa-fw"></i> Laporan<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
          <li <% if (sidebar == 'laporan_pembayaran') { %> class="active" <% } %>>
            <a href="/laporan_pembayaran">
              <i class="fa fa-table fa-fw"></i>
              Pembayaran
            </a>
          </li>
          <li <% if (sidebar == 'laporan_tunggakan') { %> class="active" <% } %>>
            <a href="/laporan_tunggakan">
              <i class="fa fa-table fa-fw"></i>
              Tunggakan
            </a>
          </li>
          <li <% if (sidebar == 'penerimaan_kas') { %> class="active" <% } %>>
            <a href="/penerimaan_kas">
              <i class="fa fa-table fa-fw"></i>
              Penerimaan Kas
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>